h1{text-align: center;}

body{  /*Styling background*/
    margin: 0;
    overflow: hidden;
    background: url('bg.png');
    background-repeat: no-repeat;                
    background-attachment: fixed;
    background-size: cover;
}
